<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- including the file '*.properties' is required to access the properties -->
	<property resource="application.properties" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!-- Either custom defined values or the values provided by MDC can be used -->
			<pattern>[${spring.application.name}] [user_name: '%X{userName}'] [%thread] %-5level %logger{35} - %msg %n</pattern>
		</encoder>
	</appender>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>


</configuration>
